main{
    overflow: hidden;
}
header{
    background: url(../images/banner1.jpg) no-repeat center/cover fixed;
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: space-between;
    justify-content: space-between;
}
header::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(18, 29, 78, 0.938);
    opacity: .5;
    width: 100%;
    height: 100%;
}
header nav{
    padding: 0 20px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header nav  h1{
    color: #fff;
}
header nav  span{
    color: rgb(18, 172, 219);
}
#mood{
    display: none;
}
header nav ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}
header nav ul li{
    margin: 0 20px;
}
header nav ul li a{
    color: #fff;
    font-size: 20px;
    text-decoration: none;
}
header nav form{
    margin-left: 200px;
}
header nav form input{
    border: none;
    border-radius: 20px;
    outline: none;
    padding: 4px;
}
header nav i{
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    transition: all 1s;
}
header .info{
    position: relative;
    text-align: center;
    transform: translateY(60%);
}
header .info span{
    color: rgb(137, 218, 255);
    display: block;
    font-size: 18px;
}
header .info h1{
    font-size: 50px;
    margin-bottom: 20px;
}
header .info a{
    font-size: 20px;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 20px;
}
@media only screen and (max-width: 600px) {
    header nav{
        padding: 20px;
    }
    header nav ul,
    header nav form,
    header nav .moon{
        display: none;
    }
    header .info{
        transform: translateY(-50%);
    }
    .dul{
        background-color: rgb(58, 44, 44);
        z-index: 222;
    }
    .dul ul li{
        margin-top: 20px;
    }
    #mood{
        display: none;
    }
    #moodLight{
        display: none;
    }
}
@media only screen and (min-width: 600px) {
    header nav{
        padding: 20px;
    }
    header nav ul,
    header nav form,
    header nav .moon{
        display: none;
    }
    header .info{
        transform: translateY(-50%);
    }
    #mood{
        display: none;
    }
    #moodLight{
        display: none;
    }
}
@media only screen and (min-width: 768px) {
    header nav{
        padding: 20px;
    }
    header nav ul,
    header nav form,
    header nav .moon{
        display: none;
    }
    header .info{
        transform: translateY(-50%);
    }
    #mood{
        display: none;; 
    }
    #moodLight{
        display: none;
    }
    
}
@media only screen and (max-width: 992px){
    .dul{
        background-color: rgb(58, 44, 44);
        z-index: 222;
    }
    .dul ul li{
        margin-top: 20px;
    }
}
@media only screen and (min-width: 992px) {
    header .info{
        transform: translateY(30%);
    }
    #mood{
        display: none;  
    }
    #moodLight{
        display: none; 
    }
}
@media only screen and (min-width: 1200px) {
    header nav ul,
    header nav form,
    header nav .moon{
        display: flex;
    }
    header .info{
        transform: translateY(-80%);
    }
    #mood{
        display: block;
    }
    #moodLight{
        display: none;
    }
}
@media only screen and (min-width: 1920px){
    header .section{
        margin: -50px 0;
    }
}
/* end header ###################################### */
.free{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    margin: 100px 0;
    position: relative;
}
.free .content .box{
    display: flex;
    align-items: center;
}
.free .content .box i{
    font-size: 40px;
    margin: 0 20px;
    color: rgb(49, 197, 255);
}
.free .content .box h2{
    font-size: 25px;
    margin: 10px 0;
}
.free .content .box p{
    font-size: 18px;
    color: #777;
    margin: 10px 0;
}
.free .box{
    position: relative;
}
.free .box form{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-flow: row wrap;
}
.free .bo2{
    background-color: #fff;
    border-radius: 10px;
}
.free .box form input,
.free .box form select{
    margin: 20px;
    width: 100%;
    border: 0;
    outline: none;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(245, 245, 245);
}
.free a{
    margin: 20px;
}
@media only screen and (max-width: 600px) {
    .free{
        flex-direction: column;
    }
    .free .box{
        width: 100%;
    }
    .free .box form input,
    .free .box form select{
        width: 100%;
    }
}
@media only screen and (min-width: 600px){
    .free{
        flex-direction: column;
    }
    .free .box{
        width: 100%;
    }
    .free .box form input,
    .free .box form select{
        width: 100%;
    }
}
@media only screen and (min-width: 768px){
    .free{
        flex-direction: column;
    }
    .free .box{
        width: 100%;
    }
    .free .box form input,
    .free .box form select{
        width: 100%;
    }
}
@media only screen and (min-width: 992px){
    .free{
        flex-direction: row;
    }
    .free .box form input,
    .free .box form select{
        width: 100%;
    }
}
/* end free ########################################### */
footer{
    padding: 30px;
    background-color: rgb(22, 22, 22);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
footer .box{
    width: 300px;
    height: 250px;
}
footer .box h1{
    font-size: 30px;
    color: #fff;
    margin-top: 20px;
}
footer .box p{
    font-size: 18px;
    color: rgb(158, 158, 158);
    margin-top: 20px;
    cursor: pointer;
    transition: all .5s;
}
footer .box p:hover{  
    color: rgb(58, 166, 255);
}
footer .box form input{  
    display: block;
    width: 250px;
    border-radius: 20px;
    border-radius: 20px;
    border: 0;
    outline: none;
    padding: 10px;
    margin-bottom: 20px;
}
footer .box form a{  
    display: block;
    color: #fff;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    padding: 5px;
    background-color: rgb(39, 174, 252);
    width: 250px;
    border-radius: 20px;
    border: 0;
    outline: none;
}
@media only screen and (max-width: 600px) {
    footer{
        flex-direction: column;
        padding-bottom: 70px;
    }
    footer .box{
        text-align: center;
        width: 100%;
        margin: auto;
    }
    footer .box form input, 
    footer .box form a{  
        width: 100%;
    }
}
@media only screen and (min-width: 600px){
    footer{
        flex-direction: column;
    }
    footer .box{
        text-align: center;
        width: 100%;
        margin: auto;
    }
    footer .box form input, 
    footer .box form a{  
        width: 100%;
    }
}
@media only screen and (min-width: 768px){
    footer{
        flex-flow: row wrap;
    }
    footer .box{
        width: 300px;
        margin-bottom: 30px;
        height: 300px;
    }
}
@media only screen and (min-width: 992px){
    footer{
        flex-direction: row;
    }
    footer .box{
        width: 250px;

    }
}
.end{
    text-align: center;
    padding: 20px;
    background-color: rgb(22, 22, 22);
    color: #fff;
    font-size: 20px;
}